.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.merriweather-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common styles  */
.white-text {
    color: white;

}

.red-text {
    color: #F00;
}

/* body styles  */
body {
    width: 1320px;
    margin: 0 auto;
}

/* header styles  */
header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 170px 340px;
    margin-top: 50px;
}

header p {
    font-size: 32px;

}

header h2 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

/* offer section  */
.offer-section {
    text-align: center;
    margin-top: 120px;
}

.offer-title {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}

.offer-category {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

/* banner section  */
.banner-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    display: flex;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;

    height: 600px;
    background-repeat: no-repeat;
}

.banner-section img {
    padding: 60px 138px 60px 0px;
}

.banner-content {
    padding: 126px 30px 140px 126px;
}

.banner-title {
    font-size: 64px;
    font-weight: 900;
}