.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.merriweather-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common styles  */
.white-text {
    color: white;

}

.red-text {
    color: #F00;
}

.offer-name {
    font-size: 24px;
    font-weight: 500;

}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

/* body styles  */


.header-main {
    width: 1320px;
    margin: 0 auto;
}

/* header styles  */
header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 120px 340px;
    margin-top: 50px;

}

header p {
    font-size: 32px;

}

header h2 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

/* offer section  */
.offer-section {
    text-align: center;
    margin-top: 120px;
}

.offer-title {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}

.offer-category {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

/* banner section  */
.banner-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    display: flex;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;

    height: 600px;
    background-repeat: no-repeat;
}

.banner-section img {
    padding: 60px 138px 60px 0px;
}

.banner-content {
    padding: 126px 30px 140px 126px;
}

.banner-title {
    font-size: 64px;
    font-weight: 900;
}

/* event time styles  */
.event-time-section {
    text-align: center;
    margin-top: 120px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 380px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.event-time-section p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;

}

.event-btn {
    background-color: #F00;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* best offer section styles  */
.best-offer-section {
    display: flex;
    margin-top: 120px;
    align-items: center;


}

.best-offer-loading {
    margin-right: 70px;

}

.offer-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 20px;
}

.best-offer-img {

    border: 15px solid #F00;
    border-radius: 460px;
    padding: 40px;
}

.best-offer-img img {
    width: 300px;
    height: 300px;
}

.best-offer-2024 {
    padding-left: 120px;
}

.offer-2024 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.best-offer-2024 img {
    margin-top: 40px;
}

/* holiday 50% section styles */
.holiday-section {
    margin-top: 120px;
    text-align: center;
}

.holiday-title {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 25px;
}

/* discount img styles  */
.discount-img {
    position: relative;
}

.withdraw-img {
    position: relative;
    top: 200px;

}

.offer-img {
    position: absolute;
    bottom: 300px;
    left: 1000px;
}

/* gift section  */
.gift-section {
    margin-top: 120px;
}

.gift-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}

/* subscribe section  */
.subscribe-section {
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin-top: 120px;
    text-align: center;
    padding: 80px 200px;
}

#subscribe-text {
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 25px 267px 25px 30px;
    margin-top: 48px;
}

.subscribe-btn {
    border-radius: 0px 50px 50px 0px;
    margin-left: -5px;
    border: none;
    padding: 24px 56px;
    background-color: #F00;

    color: white;
}

/* footer styles  */
footer {
    background-color: #070211;
    padding: 120px 140px;
    margin-top: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-text {
    color: white;
}

.footer-icon {
    text-align: center;
    margin: 50px 0px;

}

.footer-icon a {
    margin-right: 24px;
}

.hr {
    margin-bottom: 50px;
}